body {
  /* display: flex;
  justify-content: center; */
  width: 100vw;
  height: auto;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  height: 12vmin;
  font-size: 3vmin;
  padding: 2.5vmin;
}
.navLinks {
  padding: 2vmin;
}
.all-tiles-img {
  display: flex;
  flex-direction: column;
  width: 25vmin;
  height: auto;
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: lightgray solid 1px;
  width: 25vmin;
  height: auto;
  margin: 2vmin;
  text-align: center;
}
.tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.singleTileBody {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.single-tile-img {
  width: 45vmin;
}

.singleTile {
  padding: 2vmin;
  width: 50vmin;
  border: solid black 1px;
}
.collectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-right: lightgray dotted 1px;
}
.likeShareBox {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.collectLikeShareBox {
  width: 25vmin;
  height: 10vmin;
  display: flex;
  justify-content: space-evenly;
}
.like {
}
.like:hover {
  color: darkcyan;
}
.share {
}
.share:hover {
  color: darkcyan;
}
.collect:hover {
  color: darkcyan;
}
